.subscribe {
    margin-bottom: -154px;

    &__inner {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        background-color: $mint-green-light;
        box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
        padding: 24px;
        background-repeat: no-repeat;
        background-size: 400px 305px;
        background-position: 97% 100%;
        position: relative;

        @include mq("desktop-lg") {
        }
        @include mq("desktop") {
            &::before {
                content: "";
                background-color: rgba(205, 234, 225, 0.5);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                border-radius: 20px;
                z-index: 0;
            }
        }
        @include mq("tablet-lg") {

        }
        @include mq("tablet") {
        }
        @include mq("phone") {
        }
        @include mq("phone-xs") {
        }
    }

    &__content {
        max-width: 593px;
        position: relative;
    }

    &__title {
        font-family: "TradeGothic", sans-serif;
        font-weight: 700;
        font-size: 44px;
        line-height: 1.23;
        margin-bottom: 24px;
        max-width: 364px;
    }

    &__subtitle {
        font-family: "TradeGothic", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.25;
        color: $blackish-green-80;
        margin-bottom: 8px;
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        color: $blackish-green-70;
        margin-bottom: 16px;
    }

    &__form {
        display: flex;
        width: 100%;
    }

    &__form-label {
        width: 100%;
        margin-right: 16px;
    }

    &__form-input {
        width: 100%;
        display: block;
        background-color: $white;
        color: $dark;
        font-size: 16px;
        line-height: 1.25;
        padding: 18px 16px;
        border-radius: 4px;
        outline: transparent;

        &::placeholder {
            color: $dark;
        }

        &:focus {
            box-shadow: 0px 0px 0px 2px $mint-green
        }
    }

    &__form-btn {
        padding: 19px 16px;
    }
}
