//  загальні  //
$background-color: #f9faff;
$font-size: 18px;
$line-height: 1.3;

//  кольори //
$dark: #31352b;
$darkBlue: #363853;
$orange: #ff6838;
$white: #ffffff;

//  адаптив  //
$breakpoints: (
    "desktop-lg": 1440px,
    "desktop": 1200px,
    "tablet-lg": 992px,
    "tablet": 768px,
    "phone": 576px,
    "phone-xs": 360px,
);
