//  загальні  //
$background-color: #fafbfc;
$font-size: 14px;
$line-height: 1.21;
$font-weight: 400;

//  кольори //
$white: #ffffff;
$black: #000000;
$mint-green: #8dd3bb;
$dark: #1c1b1f;
$gray: #79747e;
$slamon: #ff8682;
$blackish-green: #112211;
$blackish-green-85: rgba(17, 34, 17, 0.85);
$blackish-green-80: rgba(17, 34, 17, 0.8);
$blackish-green-75: rgba(17, 34, 17, 0.75);
$blackish-green-70: rgba(17, 34, 17, 0.7);
$blackish-green-60: rgba(17, 34, 17, 0.6);
$blackish-green-50: rgba(17, 34, 17, 0.5);
$blackish-green-40: rgba(17, 34, 17, 0.4);
$blackish-green-30: rgba(17, 34, 17, 0.3);

//  адаптив  //
$breakpoints: (
    "desktop-lg": 1440px,
    "desktop": 1200px,
    "tablet-lg": 992px,
    "tablet": 768px,
    "phone": 576px,
    "phone-xs": 360px,
);
