<header class="header-default header-main">
    <div class="container container--main">
        <nav class="header-default__nav">
            <div class="header-default__links">
                <a class="header-default__link" href="#">
                    <svg class="header-default__link-icon header-main__link-icon" width="24" height="24">
                        <use xlink:href="images/sprite.svg#airplane-icon"></use>
                    </svg>
                    Find Flight
                </a>
                <a class="header-default__link" href="#">
                    <svg class="header-default__link-icon header-main__link-icon" width="24" height="24" >
                        <use xlink:href="images/sprite.svg#bed-icon"></use>
                    </svg>
                    Find Stays
                </a>
            </div>

            <a class="header-default__logo logo" href="#">
                <img class="logo__img" src="images/logo-main.svg" width="110" height="36" alt="logo golobe">
            </a>

            <div class="header-default__actions">
                <a class="header-main__btn btn btn--transparent" href="#">
                    Login
                </a>
                <a class="header-default__btn btn btn--white" href="#">
                    Sing up
                </a>
            </div>
        </nav>

        <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">mobile menu</span>
        </button>
    </div>
</header>