<section class="subscribe">
    <div class="container">
        <div class="subscribe__inner" style="background-image: url('images/mailbox.svg')">
            <div class="subscribe__content">
                <h2 class="subscribe__title">
                    Subscribe Newsletter
                </h2>
                <h3 class="subscribe__subtitle">
                    The Travel
                </h3>
                <p class="subscribe__text">
                    Get inspired! Receive travel discounts, tips and behind the scenes stories.
                </p>
                <form class="subscribe__form" action="#">
                    <label class="subscribe__form-label">
                        <input class="subscribe__form-input" type="email" name="email" placeholder="Your email address"
                            required>
                    </label>
                    <button class="subscribe__form-btn btn btn--black" type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>